.vscode/**
.vscode-test/**
src/**
webview-src/**
.gitignore
.yarnrc
webpack.config.js
tsconfig.json
tsconfig.webview.json
**/*.map
**/*.ts
!out/**/*.js
!webview/**/*.js
node_modules/**
!node_modules/@neumaennl/xmlbind-ts/**